
.ticket_main{

position: relative;
margin: 30px;
padding: 30px;

}
.ticket_wrapper{
    width:280px ;
    border: 10px solid #0892f5;
    border-radius: 50px;
    height: 520px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    
}
.qrcode{
    text-align: center;
    color: #0892f5;
    margin-bottom: 10px;

}
.ticket_logo>img{
   
    display: block;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

}
.ticket_detail{
    border: 1px solid #0892f5;
    border-radius: 20px;
    height: 270px;
    padding: 10px;
   
}
.ticket_>p{

    color:rgba(105, 128, 210, 0.559);
    margin: 0px 0px;
    font-size: 12px;
   
}
.ticket_{
    display: flex;
   ;
    color: #0892f5;
    margin: 8px 0px;
    font-weight: 500;
}

.ticket_print{
   
    margin-top: 40px;
    margin-left: 90px;
}
.ticket_print>button{
   
    font-size: larger;
    border: none;
    background-color: #0892f5;
    padding: 5px 10px;
    color: aliceblue;
    border-radius: 10px;
}

