

.detail >h2{

    text-align: center;

}
.mainadd{
    width: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    
}
.detail>p{
    font-size: medium;
    color: rgb(14, 146, 198);
    margin-top: 25px;
    margin-bottom: 10px;
}
.detail >input{
    width: 300px;
    height: 55px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    padding-left:10px;
    font-size: large;
    
}
.detail{
    margin-bottom: 20px;
}

.content{
    width: 300px;
    height: 163px;
    padding: 20px;
    margin-bottom:20px;
    
}

.upperhalf{
    max-width: 650px;
    display: flex;
    justify-content:left;
    gap: 1rem;
    flex-wrap: wrap;
    margin-left: 30px;
}
.upperhalf2>p,.upperhalf3>p{
        font-size: medium;
        color: rgb(14, 146, 198);
        margin-top: 25px;
        margin-bottom: 10px;
}
.upperhalf2>input{
    width: 300px;
    height: 55px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    padding-left:10px;
    font-size: large;
}
.file{
    color:rgb(14, 146, 198) ; 
}
.upperhalf3{
    max-width: 330px;
    height: 600px;
    border: 1px solid ;
    padding:0px 10px ;
}
.imgpreview{
    
    border-top: 1px solid ;
    padding-top: 10px;
}
.lowerhalf{
    max-width: 400px;
  
}
.mainwraper >h2{
        text-align: center;
        margin-top: 20px;
}
.mainwraper{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
.td>input{
    max-width: 130px;
    border: none;
    height: 20px;
}

.td{
    border: 1px solid;
    padding: 3px;
    width: 100px;
}
.lowerhalf>p{
    margin-bottom: 10px;
    color:rgb(14, 146, 198) ;
}
.submitBtn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid;
    background-color: rgba(14, 146, 198, 0.251) ;
    margin-top: 20px;
    font-size: larger;
}
.submitBtn:active{
    color: brown;
}


