.nav-main{
    width: 100vw;
}
.navbar{
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        padding-left: 10%;
        padding-right: 10%;
        height:4rem;
        background-color: whitesmoke;
        align-items: center;
        cursor: pointer;
        color: #0892f5;
}
.leftside{
    display: flex;
    gap: 1rem;
}
.search_bar{
    display: flex;
    width: 250px;
    gap: 0.3rem;
    font-size: 1.4rem;
    position: relative;
}
.btn1
{
    margin-top: 5px;
  
}
.btn2{
    border: none;
    border-radius: 10px;
    width: 90px;
    text-align: center;
    background-color: #0892f5;
    color: whitesmoke;
    height: 30px;
    padding-top:4px ;
}
.logo{
    color: #0892f5;
}
.logo>img{
  
    height: 50px;
    fill:#0892f5 ;
}   


.search_place{
    border-radius: 4px;
    border: solid slategrey 1px;
    min-width: 200px;
    height: 25px;
    text-align: center;
    background-color: transparent;
    font-size: 1.1rem;
    color: #0892f5;
}
.search_place:focus{
    outline: none;
    border: solid slategrey 2px;
    
}

.search_place::placeholder{

    color: #003459;


    
}
.nav2{
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #0892f5;
    height: 40px;
    align-items: center;
    font-size: 16.8px;
    cursor: pointer;
    color: #ffffff;
}  
.left{
    display: flex;
    gap: 0.3rem;
}
.left >p{
       
        border-radius: 5px;
        padding-left:2px;
        padding-right: 2px;
}
.left >p:hover{
       
       color: #0853f595;
}
.right >p:hover{
       
       color: #0853f595;
}
.right{
    display: flex;
    gap: 0.3rem;
}
.right >p{
   
    border-radius: 5px;
    padding-left:2px;
    padding-right: 2px;
}

.navOption{
    width: 0px;
    height: 600px;
    z-index: 1;
    position: fixed;
    background-color: #40B59F;
    transition: 1000ms;
    overflow: hidden;
}
.innernav{
    display: flex;
    justify-content: right;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 1.5rem;
}
.searchResult{

    color: #00171f;
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.search_result{
    background-color:#fff;
    width: 350px;
    overflow: auto;
    max-height: 600px;
    z-index: 1;
    position:absolute;
    top:0;
    margin-top: 28px;
    border-radius: 5px;
}
