.eventMain{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.eventcards1{
    width:  25rem;
    background-color: rgba(215, 230, 250);
    border-radius: 5px;
    padding:15px 10px 10px 15px;
    cursor: pointer;
    margin: 20px 0px;
}
.eventDetails{
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(44, 145, 218, 0.114);
    padding: 15px;
    margin: 0px 20px 0px 10px;
}
.eventCardsWraper{
    margin-left: auto;
    margin-right: auto;
    padding: 10px 15px;
    height: 90vh;
    overflow-x: auto;
    background-color: rgba(44, 145, 218, 0.114);
   
}
.eventCardsWraper::-webkit-scrollbar {
    display: none;
  }
.eventName{
    display: flex;
    justify-content: space-between;
    font-size: larger;
}
.timeday{
     font-size: small;
     color: gray;
     margin-top: 5px;
     margin-bottom: 15px;
}
.venue_Status{
    display: flex;
    justify-content: space-between;
}

.bookingDetail{
   font-size: 0.85rem;
}

.saleDetail{
   
    font-size: 0.85rem;
}

.dateTime{
    font-size: larger;
    margin-bottom: 15px;
    margin-top: 20px;
}
.dateTime>p{
    font-size: small;
    margin-top: 5px;
    color: gray;
}

.venue{
    font-size: larger;
    margin-bottom: 15px;
}
.venue >p{
    font-size: small;
    margin-top: 5px;
    color: gray;
}
.tableData {
       padding: 6px 6px;
       width: 63px;
       
}
.tableDashboard{
    margin-top: 6px;
    margin-bottom: 15px;
    width: 280px;
}


.tableRow1{

    background-color: rgb(215, 230, 250);

}
.tableRow2{

    background-color: rgba(215, 230, 250, 0.783);

}
.tableRow3{

    background-color: rgba(215, 230, 250, 0.54);

}
.dashImage{
    margin-left: auto;
    margin-right: auto;
    padding:10px 10px;
  background-color: rgba(44, 145, 218, 0.114);
  width: 310px;
}
