.eventMain{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 2rem;
  
}

.eventcards1{
    width:  32vw;
    background-color: rgba(66, 159, 231, 0.231);
    border-radius: 5px;
    padding:15px 10px 10px 15px;
    margin: 20px;
    cursor: pointer;
}
.eventDetails{
    
    margin: 20px 0px 0px 10px;
}
.eventCardsWraper{
    height: 90vh;
    overflow-x: auto;
}
.eventCardsWraper::-webkit-scrollbar {
    display: none;
  }
.eventName{
    display: flex;
    justify-content: space-between;
    font-size: larger;
}
.timeday{
     font-size: small;
     color: gray;
     margin-top: 5px;
     margin-bottom: 15px;
}
.venue_Status{
    display: flex;
    justify-content: space-between;
}

.bookingDetail{
   font-size: 0.85rem;
}

.saleDetail{
   
    font-size: 0.85rem;
}

.dateTime{
    font-size: larger;
    margin-bottom: 15px;
    margin-top: 20px;
}
.dateTime>p{
    font-size: small;
    margin-top: 5px;
    color: gray;
}

.venue{
    font-size: larger;
    margin-bottom: 15px;
}
.venue >p{
    font-size: small;
    margin-top: 5px;
    color: gray;
}
.tableData {
       padding: 5px;
       border: solid black 1px;
}
.tableDashboard{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 280px;
}
